<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snake.androjavaexample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".day3.Activity_1_1" />
        <activity android:name=".day3.Activity_1_2" />
        <activity android:name=".day3.Activity_1_3" />
        <activity android:name=".day3.Activity_1_4" />
        <activity android:name=".day3.Activity_1_5">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".day4.Activity_2_1" />
        <activity
            android:name=".day4.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".day4.Activity_2_2" />
        <activity android:name=".day4.Activity_2_2_second" />
        <activity android:name=".day4.Activity_2_3" />
        <activity android:name=".day4.Activity_2_3_second" />
        <activity android:name=".day4.Activity_2_4" />
        <activity android:name=".day4.Activity_2_5" />

        <service
            android:name=".day6.service_4_1"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".day6.activity_4_1" />

        <receiver
            android:name=".day6.broadcastreceiver_4_2"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".day5.self.Activity_about_1" />
        <activity android:name=".day5.self.Activity_about_2" />
        <activity android:name=".day5.self.Activity_about_3" />
        <activity android:name=".day5.self.Activity_about_4" />
        <activity android:name=".day5.self.Activity_calculator_1" />
        <activity android:name=".day5.self.Activity_custom_1" />
        <activity android:name=".day7.Activity_5_1" />
        <activity android:name=".day7.Activity_5_2" />
        <activity android:name=".day7.Activity_5_3">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.vintageappmaker.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".day7.Activity_5_4" />
        <activity android:name=".day7.Activity_5_4_second" />
        <activity android:name=".day5.self.Activity_life_1" />
        <activity android:name=".day8.Activity_6_1" />
        <activity android:name=".day8.Activity_6_2" />
        <activity android:name=".day8.Activity_6_3" />
        <activity android:name=".day9.Activity_7_1" />
        <activity android:name=".day9.Activity_7_2" />

        <service
            android:name=".day9.Service_7_2"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".day10.Activity_8_1" />
        <activity android:name=".day10.Activity_8_2" />
        <activity android:name=".day10.Activity_8_3"></activity>
        <activity android:name=".day4.Activity_2_extra"></activity>
    </application>

</manifest>